/* EditProductComponent's private CSS styles */
body{
    text-align: center;
}

label {
    color: #435960;
    font-weight: bold;
}

input {
    font-size: 1em;
    padding: .5rem;
    text-align: center;
}

button {
    margin-top: 20px;
    margin-right: .5rem;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background-color: gray;
}

button.delete {
    border-width: medium;
    background-color: red;
    color: white;
}

button.delete:hover {
    background-color: darkred;
    color: white;
}

.front{
    font-weight: bold;
    font-size: larger;
}