<body>
    <div *ngIf="product">
        <h2>{{product.name | uppercase}}</h2>
        <h3><span>Product ID: </span>{{product.id}}</h3>


        <!-- do feel the need to display and have it in the thing? -->
        <div><span>Price: </span>{{product.price}}</div>
        <div><span>Quantity: </span>{{product.quantity}}</div>
        <div><span>Description: </span>{{product.description}}</div>

        <br>
        <div class="row">
            <div class="column">
                <!-- <img src="pic_trulli.jpg" alt="Italian Trulli"> -->
                <img src="https://cdn.discordapp.com/attachments/930865385778061373/1089236013391560865/jessica.png"
                    id="proImage">


            </div>

            <div class="column">

                <div>
                    <label for="product-name" class="front">Product Name: </label>
                    <input id="product-name" [(ngModel)]="product.name" placeholder="Rename Product" />
                </div>
                <br>
                <div>
                    <label for="quantity" class="front">Quantity: </label>
                    <input type="number" id="quantity" [(ngModel)]="product.quantity" placeholder="New Quantity" />
                </div>
                <br>
                <div>
                    <label for="price" class="front">Price: </label>
                    <input type="number" id="price" [(ngModel)]="product.price" placeholder="New Price" />
                </div>
                <br>
                <div>
                    <label for="description" class="front">Description: </label>
                    <input id="description" [(ngModel)]="product.description" placeholder="New Description" />
                </div>
                <br>
                <div>
                    <label for="category" class="front">Category: </label>
                    <input id="category" [(ngModel)]="product.category" placeholder="New Category" />
                </div>
            </div>
        </div>
        <!-- buttons for back save and delete -->
        <mat-grid-list cols="9" rowHeight="2:1">
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile><button type="button" (click)="goBack()">Back</button></mat-grid-tile>
            <mat-grid-tile><button type="button" class="delete" title="delete product"
                    (click)="delete(product)">Delete</button></mat-grid-tile>
            <mat-grid-tile><button type="button" (click)="save()">Save</button></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
        </mat-grid-list>
    </div>
</body>