<h2>Shopping Cart</h2>

<!-- {{cart.id}} -->

<button type="button" class="checkout" title="checkout"
    (click)="checkout()">checkout</button>

<ul class="cart">
    <div *ngIf="cart">
        <div *ngFor="let product of cartContents">
            <span class="badge">{{product.name}}</span>
            <button type="button" class="decrease" title="decrease product"
                (click)="decrease(product)">-</button>
            {{product.quantity}}
            <button type="button" class="increase" title="increase product"
                (click)="increase(product)">+</button>
            <button type="button" class="remove" title="remove product"
                (click)="remove(product)">remove</button>
        </div>
    </div>
</ul>