<body>
  <nav>
    <h1>{{title}}</h1>
    <a routerLink="/home"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></a>
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
    <a routerLink="/products">Products</a>
    <ng-container *ngIf="!userService.getCurrentUser()?.isAdmin && userService.getCurrentUser()">
      <a routerLink="/cart">Cart</a>
    </ng-container>
    <ng-container *ngIf="userService.getCurrentUser()?.isAdmin">
      <a routerLink="/manage">Manage</a>
    </ng-container>
    <ng-container *ngIf="!userService.getCurrentUser()">
      <a routerLink="/login">Log In</a>
    </ng-container>
    <ng-container *ngIf="userService.getCurrentUser()">
      <a routerLink="/login">Account</a>
    </ng-container>
  </nav>
  <router-outlet></router-outlet>
</body>