/* #f7d292 */

*{
    margin: 0;
    padding: 0;
    width: 100%;
}

h1{
    text-align: center;
    display: block;
    padding: 10px;
    font-size: larger;
}

nav{
    background-color: #cca460;
    text-align: center;
    display: flex;
    font-size: 20px;
}

a{
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    
}

.mat-icon-rtl-mirror{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



