<mat-grid-list cols="5" rowHeight="80px">
    <mat-grid-tile colspan="2"></mat-grid-tile>
    <mat-grid-tile style="width: 90%; float: left;">
        <h2>Orders</h2>
    </mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile style="width: 100%;"><a routerLink="/manage">
            <button type="button" class="redir">Inventory</button>
        </a></mat-grid-tile>
</mat-grid-list>

<mat-tab-group class="custom">
    <mat-tab label="Incomplete Orders" class="textTest">
        <div class="matTab">
            <table mat-table [dataSource]="orders" class="myT" color="accent">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="head">ID</th>
                    <td mat-cell *matCellDef="let order"> {{order.id}} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef class="head">Total Price</th>
                    <td mat-cell *matCellDef="let order"> ${{order.totalPrice}}</td>
                </ng-container>

                <ng-container matColumnDef="products">
                    <th mat-header-cell *matHeaderCellDef class="head">Products</th>
                    <td mat-cell *matCellDef="let order">
                        <li *ngFor="let product of order.products">{{product.quantity}} {{product.name}}</li>
                    </td>
                </ng-container>

                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef class="head">Time Placed</th>
                    <td mat-cell *matCellDef="let order">{{getDate(order)}}</td>
                </ng-container>

                <ng-container matColumnDef="complete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let order"><button type="button" [disabled]="isComplete(order)"
                            class="complete" title="Complete Order" (click)="completeOrder(order)"><mat-icon fontIcon="done"></mat-icon></button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let order"> <button type="button" [disabled]="isComplete(order)"
                            class="delete" title="Delete Order" (click)="delete(order)"><mat-icon fontIcon="delete_forever"></mat-icon></button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="orderHeader"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns; let order" class="orderRow"
                    [hidden]="order.complete !== false"></tr>

            </table>
        </div>
    </mat-tab>
    <mat-tab label="Complete Orders" class="compOrders">
        <div class="matTab">
            <table mat-table [dataSource]="orders" class="myT">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="head">ID</th>
                    <td mat-cell *matCellDef="let order"> {{order.id}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let order"> {{order.name}} </td>
                </ng-container>

                <ng-container matColumnDef="products">
                    <th mat-header-cell *matHeaderCellDef class="head">Products</th>
                    <td mat-cell *matCellDef="let order">
                        <li *ngFor="let product of order.products">{{product.name}}</li>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsComp" class="orderHeader"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumnsComp; let order" class="orderRow"
                    [hidden]="order.complete == false"></tr>

            </table>
        </div>
    </mat-tab>
</mat-tab-group>