<div class="top">
       <div></div>
        <div>
            <h2>Inventory</h2>
        </div>
        <!-- button needs to link to the order-view -->
        <div class="right">
            <a routerLink="/orders">
                <button type="button" class="redir">Orders</button>
            </a>
        </div>
</div>

<div class="addProducts">
    <label for="new-product">Product name: </label>
    <input id="new-product" #productName />
    <label for="new-price">Price: </label>
    <input class="number" id="new-price" #productPrice />
    <label for="new-quantity">Quantity: </label>
    <input class="number" id="new-quantity" #productQuantity />
    <label for="new-description">Description: </label>
    <input inputmode="numeric" id="new-description" #productDescription />

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(productName.value, productPrice.value, productQuantity.value, 
        productDescription.value); productName.value=''; productQuantity.value=''; 
        productPrice.value=''; productDescription.value=''">
        +
    </button>
</div>

<div class="matTab">
    <table mat-table [dataSource]="products" class="myT">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let product"> {{product.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let product"> {{product.name}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let product"> {{product.price}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Qty.</th>
            <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="productHeader"></tr>
        <tr mat-row routerLink="/manage/{{product.id}}" *matRowDef="let row; columns: displayedColumns; let product"
            class="productRow"></tr>
    </table>
</div>