body{
    padding-top: 30px;
    text-align: center;
    background-color: #f7d292;
    position: relative;
}

.pic{
    opacity: 20%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
}

div{
    opacity: 100%;
}

.card {
    background-color: #A18E6D;
    padding: 1em;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px #733927;
    width: 60%;
    height: 90%;
}

.productName {
    float: left;
    width: 70%;
    padding-left: 0%;
    text-align: left;
    font-weight: 500;
}

.productQuantity {
    float: left;
    font-weight: 500;
}

.productPrice {
    padding-left: 10px;
    float: right;
}

.image {
    padding-top: 20px;
    max-width: 100%;
    border-radius: 2em;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.unstar{
    color: #fcba03;
    background-color: transparent;
    border: none;
    float: right;
}

.star{
    color: #fcba03;
    background-color: transparent;
    border: none;
    float: right;
}