body{
    text-align: center;
}

button{
    font-size: large;
    padding: 5px;
    font-size: 1rem;
    margin-top: 2rem;
    background-color: #a18e6d;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}