<body>
  <div *ngIf="product">
    <h2>{{product.name}}</h2>
    <div><span>About: </span></div>
    <div>{{product.description}}</div>
    <div><span>Price: </span>{{product.price}}
    </div>
    Quantity: <input type="text" [(ngModel)]="quantity">
    <button type="button" (click)="addToCart()" class="back">Buy</button>
    <button type="button" (click)="starProduct()" class="back">Favorite</button>
    <br>
    <button type="button" (click)="goBack()" class="back">go back</button>
  </div>
</body>