body{
    text-align: center;
}

button.back {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

button{
    padding: 5px;
    font-size: 1rem;
}

img{
    width: 30%;
    height: 40%;
}

#proImage{
    float: left;
    padding-left: 15%;
}

.productAbout{
    width: 100%;
    height: 40%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.front{
    font-weight: bold;
    font-size: larger;
}

input{
    width: 30px;
    text-align: center;
    margin-right: 10px;
}